body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
  width: 60%;
}

.card {
  width: 100%;
  padding-top: 100%; /* 1:1 aspect ratio */
  background-color: #ddd;
  cursor: pointer;
}

#timer, #reset-button {
  margin-top: 10px;
}